/****************
*
Author: Łukasz AKA glenski2be7
Date: 04.11.2018
*
 ****************/

/* Style all P tags */
p{
    font-size: 12px;
    color: red;
}

#header p{
    font-size: 24px;
}

/* Style all Links */
a{
    text-decoration: underline;
    color: blue;
}

span{
    text-transform: uppercase;
}

/* Style all header tags */
h1{
    font-size: 32px;
}

div{
    width: 100%;
    background-color: grey;
}